.section-top {
  position: relative;
  overflow: hidden;
  color: #fff;
}

.img {
  &-box {
    background-color: #1d1d1d52;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
  }

  &-bg {
    position: absolute;
    z-index: -2;
  }
}

.logo {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;

  &-name {
    font-weight: 600;
    color: #ebbe83;
    margin-left: 5px;
    display: none;

    @media screen and (min-width: 550px) {
      display: block;
    }
  }
}

.general {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;
}

.search {
  &-form {
    display: flex;
    position: relative;
    align-items: center;
  }

  &-btn {
    position: relative;
    z-index: 2;
    background-color: transparent;
    outline: none;
    border: 1px solid #ffffffcc;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    .search-glass {
      color: #fff;
      display: block;
    }

    .search-close {
      color: rgb(216, 88, 88);
      display: none;
    }

    &:hover {
      border: 1px solid #ebbe83;
    }
  }

  &-input {
    position: absolute;
    z-index: 5;
    width: 200px;
    right: -100vh;
    transition: all 200ms linear;
  }
}

.search-form-active > .search-input {
  right: 40px;
  transition: all 200ms linear;
}

.search-form-active .search-glass {
  display: none;
}

.search-form-active .search-close {
  display: inline;
}

.title {
  font-size: 40px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
  height: 92px;
  transition: all 200ms linear;

  @media screen and (min-width: 550px) {
    width: 500px;
  }

  &-hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
  }
}

.book {
  &-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;

    @media screen and (min-width: 550px) {
      max-width: 500px;
      margin: 0 auto;
    }

    @media screen and (min-width: 900px) {
      grid-template-columns: 2fr 2fr 1fr;
      max-width: none;
    }
  }

  &-input {
    position: relative;
    z-index: 2;
    width: 90vw;

    @media screen and (min-width: 400px) {
      width: auto;
    }

    &:focus {
      outline: 1px solid #e4aa5f;
    }
  }

  &-btn {
    outline: none;
    height: 32px;
    border-radius: 20px;
    border: none;
    background-color: #ebbe83;

    &:hover {
      background-color: #e4aa5f;
    }
  }
}
