.search-input {
  display: none;
}

.search-form-active > .search-input {
  display: inline;
}

.search-glass {
  display: inline;
}

.search-form-active .search-glass {
  display: none;
}

.search-close {
  display: none;
}

.search-form-active .search-close {
  display: inline;
}